// colors
$navBarDarkColor: #506950;

$primaryColor: #8AB48A;

$btnColor: grey;

$btnTextColor: white;


// formatting
.navbar {
    background-color: $navBarDarkColor;
}

.jumbotron {
    background-color: $primaryColor;
}


