<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Travel Project</title>
  <!-- Link Bootstrap CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Link JQuery CDN -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Link JS Logic to Handle HTML Actions -->
  {{!-- <script src="/public/js/index.js"></script> --}}
      <script src="/public/js/flight.js"></script>

  <!-- Link Custom CSS -->
  <link rel="stylesheet" href="/public/styles/styles.css">
</head>

<body>
  <!-- Header -->
  <nav class="navbar navbar-dark bg-dark">
    <nav class="navbar navbar-light bg-light">
      <!-- Logo Img -->
      <a class="navbar-brand" href="#">
        <img id="logo-image" src="/public/images/plane_logo.png" width="30" height="30" class="d-inline-block align-top"
          alt="">
        Travel App
      </a>

      <!-- Header -->Ï
      <div class="collapse navbar-collapse" id="navbar-items">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#">Booking</a>
          <a class="nav-item nav-link" href="#">Your Itinerary</a>
          <a class="nav-item nav-link" href="#">Translator</a>
        </div>
      </div>
    </nav>
  </nav>

  <!-- Main Body Content -->
  {{{ body }}}

  <!-- Footer -->
</body>

</html>