<div class="container">
  <div class="jumbotron">
    <h4>Start Learning the Language</h4>

    <div class="row">
      <div class="col">
        <!-- Select first language -->
        <div class="form-group">
          <label for="firstLanguage"></label>
          <select class="form-control" id="sourceLanguage">
            <option>English</option>
            <option>Spanish</option>
            <option>French</option>
            <option>Japanese</option>
            <option>...</option>
          </select>
        </div>
      </div>

      <div class="col">
        <!-- Select second language -->
        <div class="form-group">
          <label for="secondLanguage"></label>
          <select class="form-control" id="targetLanguage">
            <option>English</option>
            <option>Spanish</option>
            <option>French</option>
            <option>Japanese</option>
            <option>...</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Text to be translated -->
      <div class="col-5">
        <div class="form-group">
          <label for="needTranslation"></label>
          <textarea class="form-control" id="needTranslation" rows="6"></textarea>
        </div>
      </div>

      <!-- Submit Button -->
      <div id="submitButtonCol" class="col">
        <button id="submitTranslationButton" type="button" class="btn btn-primary">
          Translate
        </button>
      </div>

      <!-- Translated text -->
      <div class="col-5">
        <div class="form-group">
          <label for="exampleFormControlTextarea1"></label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Link translation and autocomplete JS Logic File -->
<script src="js/autocomplete.js"></script>
<script src="js/translatetext.js"></script>